*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    margin-bottom: 20px;
}
.header-ful-width {
    width: 1200px;
    margin: auto;
}

.full-width-date h1 {
    font-size: 20px;
    font-family: none;
    background: darkgray;
    color: black;
    display: block;
    padding: 3px;
}

.main-logo {
    width: 279.8px;
    padding: 20px 0 20px;}

.main-logo img {
    max-width: 100%;
}
.main-manu nav ul {
    list-style: none;
    display: flex;
}

.main-manu nav ul li a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    display: block;
    color: black;
    background: darkgray;
    transition: all 0.5s ease;
}



.main-manu nav ul li a:hover {
    background: yellow;
    color: red;
}
.fotter {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px;
    background: aquamarine;
}

.fotter-logo {
    width: 33%;
    padding: 10px 0 0 10px;
}

.fotter-contact {
    width: 33%;
}

.fotter-addes {
    width: 33%;
}

.fotter-logo img {
    max-width: 100%;
}
.fotter-contact h1 {
    font-size: 19px;
    padding: 10px 0 10px;
}

.fotter-contact h2 {
    font-size: 17px;
    padding: 0 0 4px;
}

.fotter-contact h3 {
    font-size: 17px;
    padding: 10px 0 10px 0;
}

.fotter-addes h1 {
    font-size: 20px;
    padding: 10\px 0 10px;
}

.fotter-addes h2 {
    font-size: 15px;
    line-height: 172%;
    color: #999;
}
.fotter-date {
    width: 1200px;
    background: black;
    margin: auto;
    justify-content: center;
}

.fotter-date h1 {
    color: white;
    font-size: 20px;
}